@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  color: #272829;
  overflow-x: hidden;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #4f6f52;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader2 {
  width: 16px;
  height: 16px;
  border: 2px solid #f5f5f5;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.second-loader {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: block;
  margin: 8px auto;
  position: relative;
  background: #fff;
  box-shadow: -24px 0 #fff, 24px 0 #fff;
  box-sizing: border-box;
  animation: shadowPulse 2s linear infinite;
}

@keyframes shadowPulse {
  33% {
    background: #fff;
    box-shadow: -24px 0 #4f6f52, 24px 0 #fff;
  }
  66% {
    background: #4f6f52;
    box-shadow: -24px 0 #fff, 24px 0 #fff;
  }
  100% {
    background: #fff;
    box-shadow: -24px 0 #fff, 24px 0 #4f6f52;
  }
}

.hero {
  background-image: url("/images/hero.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4f6f52;
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.latest-jobs {
  background-image: url("/images/hero.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.auth-img {
  background-image: url("/images/auth-img.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.reset-pwd-img {
  background-image: url("/images/reset-pwd-img.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.onboarding-img {
  background-image: url("/images/onboarding-img.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.comp-sign-up {
  background-image: url("/images/comp-sign-up.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.auth-error {
  background-image: url("/images/auth-error.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

input[type="password"]::-ms-reveal {
  display: none;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="password"] {
    -webkit-text-stroke-width: 0.1em; /* Outline width */
    letter-spacing: 0.1em; /* Space between characters */
  }
}

table tbody tr:nth-child(odd) {
  background-color: #f7f7f7; /* This is lighter gray */
}

table tbody tr:nth-child(even) {
  background-color: #e7e7e7; /* This is darker gray */
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
